.one div
{
   background-color: rgb(173, 171, 169);
   outline: 5px solid black;
   display: inline-block;
   padding: 50px;
   margin: 20px;
}
.s1{
   border: 5px ,red,solid;
}
.s2{
   border-bottom: 5px blue solid;
   border-top: 5px blue solid;
   border-right: 5px green solid;
   border-left: 5px green solid;
}
.s3{
   border-bottom: 5px blue dashed;
   border-top: 5px yellow dashed;
   border-right: 5px red dashed;
   border-left: 5px green dashed;
}
.two div{
   width: 400px;
   background-color: #eee;
   margin: 10px;
   /* background-color: rgb(198, 198, 198); */
   padding: 20px;
   /* border-left: 10px red solid; */
   border-spacing: 10px;
   outline: 10px solid #eee; 
}
.element-1{
   border-left:green 10px solid ;
}
.element-3{
   border-left:rgb(128, 0, 0) 10px solid ;
}
.element-2{
visibility: hidden;
}
